################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TicketSale.API/Controllers/teste.cs
/TicketSale.API/Controllers/ValuesController.cs
